
<html>
    <head>
      <meta charset="utf-8">
      <title>project</title>
       <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      

     <link href="/static/style1.css"  rel='stylesheet' type='text/css'>

    </head>
    <body>
      <div class="main-bar">
        <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <div class="logo-header">
            <a href="#">Project</a>
          </div>
          <ul>
            <li class="Active"><a href="#">Home</a></li>
            <!-- <li><a href="#About">About us</a></li> -->
            <li><a href="#Abstract">Abstract</a></li>
            <li><a href="#Team">Team</a></li>
            <li><a href="/index">Login/Register</a></li>
          

          </ul>
        </nav>
       

      </div>
    
       <section class="banner" >
        <div>
          
         
          
            <!-- <h3 class="pdy">MRI based brain tumor detection using OTSU method-Deeplearning</h3> -->
          </div>
          <div>
          
            <img src="/static/image/brain.jfif">
            
              <!-- <h3 class="pdy">MRI based brain tumor detection using OTSU method-Deeplearning</h3> -->
            </div>
         
        </section>
       
        <section class="Abstract-section" id="Abstract">
          <div class="container">
            <h1>Abstract</h1><hr/>
            <br>
            <em>Identifying a brain tumour by hand in the present days is a very time-consuming and imprecise task due to the vast amount of MRI (magnetic resonance imaging) pictures that must be checked. It might compromise a patient's ability to receive the best possible care. Once more, because it contains a lot of steps, it can take a long time.several image datasets in a large quantity. Both normal tissue and brain tumours share a lot of similarities. so there is automatic tumour detection technique in which CNN model will be used which help to detcet the brain tumor in mri images. In which convolutional neural networks (CNN) can handle the image type data.which help to increase speed in treatment.The Technique used here is OTSU ThresholdingWhich changes the Image into Grey-format.This Technique we are using follows semantic segmentation.</em><br>
            <em><b>Keywords:</b>CNN Model,Semantic Segmentation,OTSU Thresholding</em>
          </div>
          
        </section>
        <div class="Team-section" id="Team" class="padding">

          <!-- <div class="container1">
             <p><i style="font-size: 40px;">Team Members</i></p><hr style="background: black;">
          </div> -->
            
            
            <div class="testimonials">
              <div class="card">
                <div class="layer"></div>
                  <div class="content">
                    <span>Name:-</span><p>Bhamidipati V V S Sravan</p>
                    <span>College:-</span><p>Aditya College Of Engineering</p>
                    <span>Branch:-</span><p>C.S.E</p>
                    <div class="image">
                      <img src="/static/image/19MH1A0505.jpg">
                    </div>
                    <div class="details">
                      <h3><br><span>19MH1A0505</span></h3>
                    </div>
                </div>
              </div> 
            </div>
            
            <div class="testimonials">
              <div class="card">
                <div class="layer"></div>
                  <div class="content">
                    <span>Name:-</span><p>Gajjala Harika</p>
                    <span>College:-</span><p>Aditya College Of Engineering</p>
                    <span>Branch:-</span><p>C.S.E</p>
                    <div class="image">
                      <img src="/static/image/19MH1A0514.jpg">
                    </div>
                    <div class="details">
                      <h3><br><span>19MH1A0514</span></h3>
                    </div>
                </div>
              </div> 
            </div>

            <div class="testimonials">
              <div class="card">
                <div class="layer"></div>
                  <div class="content">
                    <span>Name:-</span><p>Rokkam Jyoshnavi</p>
                    <span>College:-</span><p>Aditya College Of Engineering</p>
                    <span>Branch:-</span><p>C.S.E</p>
                    <div class="image">
                      <img src="/static/image/19MH1A0545.jpg">
                    </div>
                    <div class="details">
                      <h3><br><span>19MH1A0545</span></h3>
                    </div>
                </div>
              </div> 
            </div>


            <div class="testimonials">
              <div class="card">
                <div class="layer"></div>
                  <div class="content">
                    <span>Name:-</span><p>Komara Lakshmi Harika</p>
                    <span>College:-</span><p>Aditya College Of Engineering</p>
                    <span>Branch:-</span><p>C.S.E</p>
                    <div class="image">
                      <img src="/static/image/19MH1A0524.jpg">
                    </div>
                    <div class="details">
                      <h3><br><span>19MH1A0524</span></h3>
                    </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
    

    </body>
    </html>